{% extends '::base.auth.html.twig' %}

{% block body -%}
    <!-- <h4 class="mt-5 mb-5">Category Edit
        <a href="{{ path('category') }}" class="float-right btn btn-sm btn-secondary">Back to the list</a>
    </h4> -->

    {% if errors %}
        <div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-4">
            <form action="{{ path('login') }}" method="post" class="form-signin">
                <div class="text-center mb-4">
                    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
                    <!-- <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1> -->
                    <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
                </div>
        
                <div class="form-label-group form-group">
                    <!-- <label for="username">Email address</label> -->
                    <input type="email" name="_username" id="username" class="form-control" value="{{ username }}" placeholder="Email address" required autofocus>
                </div>
        
                <div class="form-label-group form-group">
                    <!-- <label for="password">Password</label> -->
                    <input type="password" name="_password" id="password" class="form-control" placeholder="Password" required>
                </div>
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                
                <input type="hidden" name="_target_path" value="/store/book"/>
        
                <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
                <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
            </form>
        </div>
    </div>

{% endblock %}